<div class="container">
    <div class="row">
        <div class="col l12 s12">
        <table class="striped">
          <thead>
            <tr>
              <th>fecha</th>
              <th>Tratamiento</th>
              <th>Abono</th>
              <th>Firmado</th>
            </tr>
          </thead>
          <tbody>
            <th><%= @tratamiento.fecha %></th>
            <th><%= @tratamiento.tratamiento %></th>
            <th><%= @tratamiento.abono %></th>
            <th><%= @tratamiento.dentist.name %></th>
                
          
           
            
          </tbody>
        </table> 
        </div>
        
    </div>
    
</div>