<div class="container">
    <h1>Pacientes</h1>
    <div class="row">
        
    <% @pacientes.each do |paciente| %>
        <h2><%= link_to paciente.nombre , paciente %></h2>
        <%= paciente.nombre %>
        <div>
            
        </div>
    <% end %>
    </div>
    
</div>
