<link href="http://www.yonkethecardepot.com/backup/assets/js/plugins/fullcalendar/css/fullcalendar.min.css" type="text/css" rel="stylesheet" media="screen,projection">
<script type="text/javascript" src="http://www.yonkethecardepot.com/backup/assets/js/plugins/fullcalendar/js/lang-all.js"></script>

<style>
		#calendar {
		max-width: 900px;
		margin: 0 auto;
	}

</style>

<script>

	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultDate: '<%= Time.now.in_time_zone("Tijuana").to_date %>',
			editable: false,
			eventLimit: true, // allow "more" link when too many events
			events: [
				
					<% @citas.each do |cita| %>
						{	
							title: 'Cita',
							start: '<%= cita.fecha_inicio %>',
							end: '<%= cita.fecha_final%>',
							url: 'https://www.youtube.com/'
						},
					<% end %> 
				
				
			]
		});
		
	});

</script>

         
    <div class="row">
    	<div id="full-calendar">     
	        <div class="col s12 m12 l12">
	            <div id='calendar'></div>
        	</div>
        </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red modal-trigger" href="#modal1">
            <i class="large material-icons">add </i>
        </a>
    </div>

<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Nueva cita</h4>
      <p>
        <%= render 'form'%>
      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>


















 <!-- Calendar Script -->
    <script type="text/javascript" src="http://www.yonkethecardepot.com/backup/assets/js/plugins/fullcalendar/lib/jquery-ui.custom.min.js"></script>
    <script type="text/javascript" src="http://www.yonkethecardepot.com/backup/assets/js/plugins/fullcalendar/lib/moment.min.js"></script>
    <script type="text/javascript" src="http://www.yonkethecardepot.com/backup/assets/js/plugins/fullcalendar/js/fullcalendar.min.js"></script>
   
